*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Inter;
  
}

nav{
  display:flex;
  background-color:#F55A5A;
  padding:20px;
  height:55px;
  justify-content: center;
  align-items: center;
  gap:3px;
}

nav>p{
 
  color:#381d3c;
  font-weight:bold;
}

img{
  width: 125px;
  height: 170px;
  border-radius: 5px;
}
.container{
  display:flex;

}
.location{
  display:flex;
  gap:9px;
  margin-bottom: 5px;

}
.body{
  display:flex;
  flex-direction: column;
  padding:20px;
  gap:20px;
}
.right{
  padding:20px;
}

.fa-location-dot{
  color:red;
}

.title{
  margin-bottom: 5px;
}

.date{
  margin-bottom: 5px;
}

a:link {
  color: #227bb3;
}
a:visited {
  color: #227bb3;
}

.description{
  max-width:400px;
}


.container{
  box-shadow: 0 1px #030303;

}